# Copy this file to .env.local and fill in your actual values
VITE_SUPABASE_URL=https://adxtkbhtezlzuydrzmcx.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFkeHRrYmh0ZXpsenV5ZHJ6bWN4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTUzMzc0NjIsImV4cCI6MjA3MDkxMzQ2Mn0.IEQZLSHdJ8nyz8-Hc8wxgHhPHu7slcL3vkeFSBjKsx0
VITE_GEMINI_API_KEY=AIzaSyD1F8_nwp5dz9KG3RtHe12iHYNjvwSKizs
VITE_GOOGLE_CLIENT_ID=854458799280-ag7ojs30mgtc0m0bser0tqm6nn3o8d7a.apps.googleusercontent.com
VITE_GOOGLE_FIT_API_KEY=AIzaSyD1F8_nwp5dz9KG3RtHe12iHYNjvwSKizs